/* Center everything on the page */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: black;
    letter-spacing: 1px;
    margin-top: 200px;
  }
  
  /* White container for the main section */
  main {
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    color: white;
    letter-spacing: 1px;
    animation: shadow-pulse 3s ease-in-out infinite;
  }
  
  @keyframes shadow-pulse {
    0% {
      box-shadow: 0px 0px 20px blue;
    }
    50% {
      box-shadow: 0px 0px 60px rgb(117, 2, 146);
    }
    100% {
      box-shadow: 0px 0px 20px blue;
    }
  }
  
  /* Styles the quiz title in the header */
  header h1 {
    color: white;
    text-shadow: 0 0 10px cyan, 0 0 20px blue, 0 0 30px rgb(113, 19, 201), 0 0 40px rgb(113, 19, 201), 0 0 50px rgb(113, 19, 201), 0 0 60px rgb(113, 19, 201), 0 0 70px rgb(148, 12, 211);
  }
  
  /* Styles the feedback text in the main section */
  #feedback-section p {
    color: white;
  }

  #timer, #score {
    display: inline-block;
    margin-right: 20px;
  }

  /* Styles the Start Button */
 
 #start {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 60px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: transform 0.2s ease-in-out;
  }

  #Border-Image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

  #start:hover {
    cursor: pointer;
    background-color: rgb(115, 15, 209);
    transform: scale(0.9);
  }
  
  /* Styles the options buttons */
  li button {
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    transition: background-color 0.2s ease-in-out;
    list-style-type: lower-alpha;
  }
  
  li button:hover {
    background-color: rgb(113, 19, 201);
    cursor: pointer;
  }

  #highscores-container {
    color: white;
    justify-content: center;
    margin-top: 20px;
    animation: shadow-pulse 3s ease-in-out infinite;
    padding: 10px 20px;
    border-radius: 10px;
  }

  #highscores-title {
    text-shadow: 0 0 10px cyan, 0 0 20px blue, 0 0 30px rgb(113, 19, 201), 0 0 40px rgb(113, 19, 201), 0 0 50px rgb(113, 19, 201), 0 0 60px rgb(113, 19, 201), 0 0 70px rgb(148, 12, 211);
  }

  table {
    margin-left: 15px;
  }

  tbody {
    margin-left: 5px;
  }

  #clear-scores-btn {
    display: flex;
    margin-left: 15px;
  }
